@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.home {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.definition {
    margin-top: 100px;
    background-color: rgb(0,0,0,0.7);
    color: rgba(255, 255, 255, 0.861);
    width: 80%;
    padding: 30px;

    &> h2 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &> h3 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &> p {
        text-align: justify;
    }
}

.classification {
    margin-top: 100px;
    background-color: rgb(0,0,0,0.7);
    color: rgba(255, 255, 255, 0.861);
    width: 80%;
    padding: 30px;

    &> h2 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &> h3 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &> p {
        text-align: justify;
    }
}

.class-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.first-class {
    margin-top: 100px;
    background-color: rgb(0,0,0,0.7);
    color: rgba(255, 255, 255, 0.861);
    width: 20%;
    padding: 30px;

    &> h2 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &> h3 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &> p {
        text-align: justify;
    }
}

.second-class {
    margin-top: 100px;
    background-color: rgb(0,0,0,0.7);
    color: rgba(255, 255, 255, 0.861);
    width: 20%;
    padding: 30px;

    &> h2 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &> h3 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &> p {
        text-align: justify;
    }
}

.third-class {
    margin-top: 100px;
    background-color: rgb(0,0,0,0.7);
    color: rgba(255, 255, 255, 0.861);
    width: 20%;
    padding: 30px;

    &> h2 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &> h3 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    &> p {
        text-align: justify;
    }
}

.how-find {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(0,0,0,0.7);
    color: rgba(255, 255, 255, 0.861);
    width: 80%;
    padding: 30px;

    &> h2 {
        text-align: left;
        color: $color-primary-alt-light;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    &> h3 {
        text-align: left;
        color: rgba(255, 255, 255, 0.861);
        margin-top: 40px;
        margin-bottom: 30px;
    }
}