@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.list {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forms-container-empty {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:80px;
    height: 480px;
    width: 300px;
}

.forms-container {
    margin-top:80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
}

.list-create {
    background-color: rgb(0,0,0,0.7);
    margin: 15px;
    margin-top:0;
    border-radius: 10px;
}

.list-delete {
    background-color: rgb(0,0,0,0.7);
    margin: 15px;
    margin-top:0;
    border-radius: 10px;
}

.list-card {
    margin-top:80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.list-container {
    background-color: rgb(0,0,0,0.7);
    margin: 15px;
    margin-top:10px;
    margin-bottom: 5px;
    border-radius: 10px;

    &>h3 {
        font-family: $title-helv;
        color:$color-primary-alt-light;
        margin: 0;
        margin-top:10px;
        margin-bottom: 5px;
    }

}

.list-filter {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
    &>input {
        margin:5px;
        font-size:0.8rem;
    }
}