@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.main {
    background-image: url(../../../public/space.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}