@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.leaflet-container {
  background-image: url(../../../public/sideral.jpeg);
  background-size: contain;
  position:fixed;
  top: 63px;
  height: 700px;
  width: 100%;
  
}


  